<div class="login-page">
    <div class="login-panel">

        <!-- Panel de Marca -->
         <div class="login-brand">
            <h1 class="login-brand-title">RANBOOK</h1>
            <P CLASS="login-brand-subtitle">Plataforma corporativa nace de la 
necesidad de mitigar la barrera económica que representa la adquisición de textos y útiles escolares 
al inicio de cada ciclo académico.</P>

            <ul class="login-brand-features">
                <li>/ Encuentas todo tipo de libros y útiles escolares</li>
            </ul>
         </div>
    </div>
</div>